body {
  padding-top: 9rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

.navbar-light {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-top-area ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.header-top-area ul li {
  display: inline-block;
  margin-left: 10px;
}

.header-fixed-height {
  height: 50px; /* ALTURAAAAAAAAA */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  bottom: 10px;
}

.navbar-brand img {
  width: 100px; 
  height: auto; /* Altura automática para manter a proporção */
}

.custom-logo img {
  width: 200px; 
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.paragrafo {
  padding: 1px;
  border: 10px;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; 
}

.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 86px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.navbar-brand {
  font-weight: 700;
  font-family: Arial, sans-serif;
  color: #92278f;
}

.navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 700;
  padding: 15px 22px;
  text-transform: uppercase;
}

.nav-link.home {
  color: #8dc63f;
}

.nav-link.about {
  color: #ff5200;
}

.nav-link.classes {
  color: #00bfff;
}

.nav-link.blog {
  color: #e11a1f;
}

.nav-link.pages {
  color: #002c9d;
}

.nav-link.contact {
  color: #92278f;
}

.btn-outline-success {
  font-weight: 700;
  font-family: Arial, sans-serif;
  background-color: #034d03;
  color: #FFFFFF;
}

.has-submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  width: 220px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  text-decoration: none;
}

.has-submenu:hover .submenu {
  display: block;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  list-style: none;
  text-decoration: none; 
}

.submenu li {
  padding: 0;
  text-decoration: none;
}

.submenu li a {
  padding: 10px 20px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #0e2c53;
  font-weight: 500;
  border-bottom: 1px solid #e5e5e5;
  text-decoration: none;
}

.submenu li a:hover,
.submenu li a.active {
  background: #92278f;
  padding-left: 22px;
  color: #fff;
  text-decoration: none;
}

.submenu li:last-child a {
  border-bottom: none;
  text-decoration: none;
}

.menu li .submenu li a:before {
  content: " ";
  list-style: none;
  text-decoration: none;
}

.submenu li .submenu {
  left: 100%;
  top: 0;
  text-decoration: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .menu li a {
    padding: 10px 12px;
  }
}

@media (max-width: 991px) {
  .menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    overflow: auto;
    max-height: 400px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    transform-origin: top;
  }

  .menu li .submenu li a:hover,
  .menu li .submenu li a.active {
    background: #92278f;
    padding-left: 22px;
    color: #fff;
  }

}
.featurette-heading fw-normal lh-1{
  font-size-adjust: 100px;
}

#myProjects {
  padding-bottom: 45px;
}

#p1 {
  letter-spacing: 10px;
  margin-left: 8px;
  font-size: 25px;
}
#titleOne {
  letter-spacing: 44px;
}